<html>
	<%- include('common/head', head); %>
	<body>
		<%- include('common/menu', menu); %>
		<div class="body_container">
			<%- include('common/main', main); %>
		</div>
		<%- include('common/foot', foot); %>
	</body>
</html>
