<div id="youtubeDownload">
	<div class="form_input row">
		<div class="col-lg-3 col-md-3 col-xs-12">URI :</div>
		<div class="col-lg-9 col-md-9 col-xs-12">
			<input type="text" name="link" />
		</div>
	</div>
	<div class="form_input row">
		<div class="col-lg-3 col-md-3 col-xs-12">Type :</div>
		<div class="col-lg-9 col-md-9 col-xs-12">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-xs-6">
					<input type="radio" name="type" value="MP3" /> mp3</div>
				<!-- <div class="col-lg-2 col-md-2 col-xs-6">
					<input type="radio" name="type" value="MP4" /> mp4</div> -->
			</div>
		</div>
	</div>

	<div class="form_input row">
		<div class="col-lg-3 col-md-3 col-xs-12">Title :</div>
		<div class="col-lg-9 col-md-9 col-xs-12">
			<input type="text" name="title" />
		</div>
	</div>

	<div class="form_input row">
		<div class="col-lg-3 col-md-3 col-xs-12">Artist :</div>
		<div class="col-lg-9 col-md-9 col-xs-12">
			<input type="text" name="artist" />
		</div>
	</div>

	<div class="form_input row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<input class="btn btn-info" type="button" name="action" value="Download" />
		</div>
	</div>

</div>