<div id="portfolio">
    <% data.forEach(function(site, i) { %>
        <div class="row" id="site_<%=i%>">
            <div class="col-lg-6 col-md-6 col-xs 12">
                <div class="row">
                    <div class="siteTitle">
                        <%= site.title %>
                    </div>
                </div>
                <div class="row">
                    <div class="siteDescription">
                        <% site.description.forEach(function(description) { %>
                            <%= description %> <br/>
                        <% }); %>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs 12">
                <div class="screenCap">
                    <img src="<%= site.img %>" width="100%" />
                </div>
            </div>
        </div>
        <% }); %>
</div>