
<html>
	<head>
		<title>Count Down</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

		<script type="text/javascript">
			var printSec = function (date) {
				let sec = (Date.parse(date) - Date.now()) / 1000;
				let min = sec / 60;
				let hour = min / 60;
				let day = hour / 24;
				sec = sec - (Math.floor(min) * 60);
				min = min - (Math.floor(hour) * 60);
				hour = hour - (Math.floor(day) * 24);
				$("#time-day").html(Math.floor(day));
				$("#time-hours").html(Math.floor(hour));
				$("#time-mins").html(Math.floor(min));
				$("#time-sec").html(Math.floor(sec));
			};
			setInterval(function () {
				printSec('2018/03/29 23:00:00', "Vitenam Trip");
			}, 1000);
		</script>
	</head>
	<body>
		<div>
			<h2>Count down issue: <span id="issue">Vietnam Trip</span></h2>
		</div>
		<br/>
		<div>
			<div class="panel panel-default col-lg-3 col-md-3 col-xs-3">
				<div class="panel-heading">Days</div>
				<div class="panel-body" id="time-day">--</div>
			</div>
			<div class="panel panel-default col-lg-3 col-md-3 col-xs-3">
				<div class="panel-heading">Hours</div>
				<div class="panel-body" id="time-hours">--</div>
			</div>
			<div class="panel panel-default col-lg-3 col-md-3 col-xs-3">
				<div class="panel-heading">Min</div>
				<div class="panel-body" id="time-mins">--</div>
			</div>
			<div class="panel panel-default col-lg-3 col-md-3 col-xs-3">
				<div class="panel-heading">Sec</div>
				<div class="panel-body" id="time-sec">--</div>
			</div>

		</div>
	</body>
</html>

