<div id="honor">
<div>
	<button id="showDetail" class="btn btn-info">Toggle Course Detail</button>
	<button id="showCourse" class="btn btn-info">Toggle Course Table</button>
</div>
<table id="scoreBoard" border="1" class="table"></table>
<hr/>
<table id="honorBoard-a" border="1" class="table"></table>
<hr/>
<table id="honorBoard-b" border="1" class="table"></table>
<hr/>
<table id="honorBoard-summary" border="1" class="table"></table>
</div>