<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		<%=meta.title%>
	</title>

	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap-admin.css" />
	<link rel="stylesheet" type="text/css" href="/static/vendor/fontawesome/css/fontawesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/vendor/nprogress/css/nprogress.css" />
	<link rel="stylesheet" type="text/css" href="/static/vendor/iCheck/css/skins/green.css" />
	<link rel="stylesheet" type="text/css" href="https://colorlib.com/polygon/vendors/iCheck/skins/flat/green.css" >
	<link rel="stylesheet" type="text/css" href="/static/vendor/colorLib/css/colorlib.min.css" />

</head>