<style>
    * {
        overflow-wrap: break-word;
    }
</style>
<h2>全場波膽</h2>

<% Object.keys(data).sort().forEach(function(ele){ %>
    <div>
        <%=ele%>
        <br/>
        <%= JSON.stringify(data[ele]) %>
    </div>
    <hr/>
<% }) %>

<script>
    $(document).ready(function(){
        setTimeout(function(){
            window.location.reload();
        },60000);
    });
</script>