<div id="no2g">
    <div id="createCanvas">
        Canvas Size : <input type="number" id="canvasSize" min="0"/> <br/>
        <input type="button" id="createCanvas" value="Create Canvas"/>
    </div>
    <div id="playgound">

    </div>
</div>