<div id="no2g">
    <div id="createPanel">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                Canvas Size :
                <input type="number" class="input" id="canvasSize" min="0" />
            </div>
            <div class="col-lg-4 col-md-4 col-xs-5">
                <input type="button" class="btn btn-success" id="createCanvas" value="Create Canvas" />
            </div>
            <div class="col-lg-4 col-md-4 col-xs-5">
                <input type="button" class="btn btn-info" id="resetClickable" value="Restart Game" />
            </div>
        </div>
    </div>
    <br/>
    <div id="playgound"></div>
</div>
